/*~---------------------------------------------------------------------------*/
/*                               *       +                                    */
/*                         '                  |                               */
/*                     ()    .-.,="``"=.    - o -                             */
/*                           '=/_       \     |                               */
/*                        *   |  '=._    |                                    */
/*                             \     `=./`,        '                          */
/*                          .   '=.__.=' `='      *                           */
/*                 +                         +                                */
/*                      O      *        '       .                             */
/*                                                                            */
/*  File      : Sidebar.module.css                                            */
/*  Project   : divas-client                                                  */
/*  Date      : 2024-04-01                                                    */
/*  License   : See project's COPYING.TXT for full info.                      */
/*  Author    : mateus.digital <hello@mateus.digital>                         */
/*  Copyright : mateus.digital - 2024                                         */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*---------------------------------------------------------------------------~*/


/* -------------------------------------------------------------------------- */
.contentContainer {
  /* max-width: 21rem; */
  /* min-width: fit-content; */
  /* background-color: gold; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;


  padding:       1.0rem;
  padding-right: 2.5rem;
  width: max-content;

  --text-size: 1.2rem;
  --icon-size: 2.5rem;
  --icon-gap: 0.7rem;

  --logo-padding-left: calc(var(--icon-size) + var(--icon-gap));
  border: var(--layout-border-color) var(--layout-border-size) var(--layout-border-style);
}

.sideBarLogo {
  display: block;
  width: 8rem;
  /* padding-left: var(--logo-padding-left); */

}

/* -------------------------------------------------------------------------- */
.sideBarItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin-top: 5rem;
  /* background-color: red; */
}

/* -------------------------------------------------------------------------- */
.sideBarItemContainer {
  display: flex;
  align-items: center;
  gap: var(--icon-gap);

  font-size: var(--text-size);

  /* background-color: blue; */

  color: black;
  text-decoration: none;
}
.sideBarItemContainer:hover {
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */
.sideBarItemIcon {
  font-size: var(--icon-size) !important;
}

/* -------------------------------------------------------------------------- */
.sideBarItemProfileImage {
  max-width:  var(--icon-size);
  max-height: var(--icon-size);

  object-fit: cover;
  aspect-ratio: 1/1;

  border-radius: 50%;

  border: var(--button-secondary-color) 3px solid;
}

/* -------------------------------------------------------------------------- */
.sideBarItemTitle:hover {
  text-decoration: underline solid;
}

/* -------------------------------------------------------------------------- */
.sideBarActive {
  color: var(--button-secondary-color);
  font-weight: bolder;
}
