.categoryContainer {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.categoryContainer:hover {
  background-color: green;
}

.categoryContainer:active {
  background-color: red;
}

.categoryIcon {
  margin: 0.5rem;
}

.categoryIcon span {
  background-color: aqua;
  font-size: 3rem  !important;
}