.feedContainer {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.infiniteScroll {
  background-color: blue;
  width: 100%;
}

.itemContainer {
  background-color: cadetblue;
  /* width:  500px; */
  /* height: 600px; */

  margin-bottom: 2rem;
}


.userInfoContainer {
  display: flex;
  align-items: center;
  background-color: rebeccapurple;

  gap: 1rem;
  margin: 0.5rem;
}

.profilePhoto img {
  width:  2rem;
  height: 2rem;
}
