/*----------------------------------------------------------------------------*/
/*                               *       +                                    */
/*                         '                  |                               */
/*                     ()    .-.,="``"=.    - o -                             */
/*                           '=/_       \     |                               */
/*                        *   |  '=._    |                                    */
/*                             \     `=./`,        '                          */
/*                          .   '=.__.=' `='      *                           */
/*                 +                         +                                */
/*                      O      *        '       .                             */
/*                                                                            */
/*  File      : MainLayout.module.css                                         */
/*  Project   : divas-client                                                  */
/*  Date      : 2024-04-23                                                    */
/*  License   : See project's COPYING.TXT for full info.                      */
/*  Author    : mateus.digital <hello@mateus.digital>                         */
/*  Copyright : mateus.digital - 2024                                         */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
.layoutContainer {
  display: flex;
  background-color: blue;
}

/*----------------------------------------------------------------------------*/
.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: cyan;
}
