/*----------------------------------------------------------------------------*/
/*                               *       +                                    */
/*                         '                  |                               */
/*                     ()    .-.,="``"=.    - o -                             */
/*                           '=/_       \     |                               */
/*                        *   |  '=._    |                                    */
/*                             \     `=./`,        '                          */
/*                          .   '=.__.=' `='      *                           */
/*                 +                         +                                */
/*                      O      *        '       .                             */
/*                                                                            */
/*  File      : MainLayout.module.css                                         */
/*  Project   : divas-client                                                  */
/*  Date      : 2024-04-23                                                    */
/*  License   : See project's COPYING.TXT for full info.                      */
/*  Author    : mateus.digital <hello@mateus.digital>                         */
/*  Copyright : mateus.digital - 2024                                         */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*----------------------------------------------------------------------------*/

.mainContainer {
  width: 100%;
  /* background-color: blue; */
}

/*----------------------------------------------------------------------------*/
.layoutContainer {
  display: flex;
  /* padding: 2rem 2rem 0 2rem; */

  /* background-color: red; */
}

/*----------------------------------------------------------------------------*/
.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0rem;
  padding-top: 2rem;
  border: var(--layout-border-color) var(--layout-border-size) var(--layout-border-style);
  /* background-color: cyan; */
}
