.controlsContainer {
  display: flex;
  gap: 1rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 1rem;
  z-index: 10000;
}

.tooltipContainer {
  display: none;
}


.canvasControl {
  /* padding: 1rem; */
  /* background-color: red; */
  background-color: transparent;
  border:  2px dotted transparent;
  border-radius: 8px;
  padding: 4px;
}

.canvasControl:hover {
  border:  2px dotted black;
}

/* -------------------------------------------------------------------------- */
.canvasControlIcon {
  font-size: 2.5rem !important;
}
