.controlsContainer {
  display: flex;
  /* gap: 1rem; */
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 1rem;
  z-index: 10000;
}

.tooltipContainer {
  font-size: 80%;
  white-space: nowrap;
  background-color: #4c4c4c;
  color: white;
  border-radius: 2rem;
  padding: 2px 4px;
}


.canvasControl {
  /* padding: 1rem; */
  /* background-color: red; */
  background-color: transparent;

  border: 2px dotted transparent;
  border-radius: 8px;

  padding:4px;
}

.canvasControl:hover {
  /* border:  2px dotted black; */
}

/* -------------------------------------------------------------------------- */
.canvasControlIcon {
  font-size: 2rem !important;
}
