/*----------------------------------------------------------------------------*/
/*                               *       +                                    */
/*                         '                  |                               */
/*                     ()    .-.,="``"=.    - o -                             */
/*                           '=/_       \     |                               */
/*                        *   |  '=._    |                                    */
/*                             \     `=./`,        '                          */
/*                          .   '=.__.=' `='      *                           */
/*                 +                         +                                */
/*                      O      *        '       .                             */
/*                                                                            */
/*  File      : MoodboardUserInfo.module.css                                  */
/*  Project   : divas-client                                                  */
/*  Date      : 2024-04-30                                                    */
/*  License   : See project's COPYING.TXT for full info.                      */
/*  Author    : mateus.digital <hello@mateus.digital>                         */
/*  Copyright : mateus.digital - 2024                                         */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*----------------------------------------------------------------------------*/


/* -------------------------------------------------------------------------- */
.container {
  display: flex;
  /* background-color: chartreuse; */
  justify-content: space-between;
  align-items: center;
}

/* -------------------------------------------------------------------------- */
.moodboardInfoUserContainer div{
  display: flex;
  flex-direction: column;

  /* background-color: green; */
}

.userName {
  font-size: 110%;
  font-weight: bold;
}

.profileImage {
  width: 2rem;
  height: 2rem;
}