/*----------------------------------------------------------------------------*/
/*                               *       +                                    */
/*                         '                  |                               */
/*                     ()    .-.,="``"=.    - o -                             */
/*                           '=/_       \     |                               */
/*                        *   |  '=._    |                                    */
/*                             \     `=./`,        '                          */
/*                          .   '=.__.=' `='      *                           */
/*                 +                         +                                */
/*                      O      *        '       .                             */
/*                                                                            */
/*  File      : Buttons.module.css                                            */
/*  Project   : divas-client                                                  */
/*  Date      : 2024-06-17                                                    */
/*  License   : See project's COPYING.TXT for full info.                      */
/*  Author    : mateus.digital <hello@mateus.digital>                         */
/*  Copyright : mateus.digital - 2024                                         */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*----------------------------------------------------------------------------*/


/*
*  Action Button
*/

/* -------------------------------------------------------------------------- */
.actionButton {
  padding: 0.2rem 1rem;
  margin: 0.5rem;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  background-color: #bee2d1;
  transition: background-color 0.3s;
}

.actionButton:hover {
  background-color: #a6cebb;
}

.actionButton:active {
  background-color: #fa7b90;
}

/*
*  Text Button
*/

/* -------------------------------------------------------------------------- */
.textButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline dotted;
}

/*
*  Back Button
*/

/* -------------------------------------------------------------------------- */
.backButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}