/* -------------------------------------------------------------------------- */
.link {
  color: black;
  text-decoration: underline dotted;
}

.link:hover {
  text-decoration: underline solid;
}
