/*----------------------------------------------------------------------------*/
/*                               *       +                                    */
/*                         '                  |                               */
/*                     ()    .-.,="``"=.    - o -                             */
/*                           '=/_       \     |                               */
/*                        *   |  '=._    |                                    */
/*                             \     `=./`,        '                          */
/*                          .   '=.__.=' `='      *                           */
/*                 +                         +                                */
/*                      O      *        '       .                             */
/*                                                                            */
/*  File      : MoodboardDetails.module.css                                  */
/*  Project   : divas-client                                                  */
/*  Date      : 2024-04-16                                                    */
/*  License   : See project's COPYING.TXT for full info.                      */
/*  Author    : mateus.digital <hello@mateus.digital>                         */
/*  Copyright : mateus.digital - 2024                                         */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*----------------------------------------------------------------------------*/

/* -------------------------------------------------------------------------- */
.container {
  background-color: green;
  display: flex;
  justify-content: center;
  width: fit-content;
}

/* -------------------------------------------------------------------------- */
.imageContainer {
  background-color: greenyellow;
}

.imageContainer img {
  width:  100%;
  height: 100%;
  aspect-ratio: 1/1;
}

/* -------------------------------------------------------------------------- */
.infoContainer {
  background-color: goldenrod;
  width: 20rem;
}

/* -------------------------------------------------------------------------- */
.moodboardInfoUserContainer {
  display: flex;
  background-color: chartreuse;
  justify-content: space-between;
  align-items: center;
}

.moodboardInfoUserContainer div{
  display: flex;
  flex-direction: column;

  background-color: green;
}

/* -------------------------------------------------------------------------- */
.moodboardItemInfoContainer {
  display: flex;
  flex-direction: column;
  background-color: red;
  text-align: center;
}

.moodboardItemTitle {
  background-color: blue;
  font-size: 2rem;
}

.moodboardItemDescription {

}


/* -------------------------------------------------------------------------- */
.moodboardOtherContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moodboardStatsContainer {
  display: flex;
  background-color: rebeccapurple;
}

.moodboardOtherStat {
  display: flex;
  flex-direction: column;
  text-align: center;
}