/*----------------------------------------------------------------------------*/
/*                               *       +                                    */
/*                         '                  |                               */
/*                     ()    .-.,="``"=.    - o -                             */
/*                           '=/_       \     |                               */
/*                        *   |  '=._    |                                    */
/*                             \     `=./`,        '                          */
/*                          .   '=.__.=' `='      *                           */
/*                 +                         +                                */
/*                      O      *        '       .                             */
/*                                                                            */
/*  File      : MoodboardDetails.module.css                                  */
/*  Project   : divas-client                                                  */
/*  Date      : 2024-04-16                                                    */
/*  License   : See project's COPYING.TXT for full info.                      */
/*  Author    : mateus.digital <hello@mateus.digital>                         */
/*  Copyright : mateus.digital - 2024                                         */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*----------------------------------------------------------------------------*/

/* -------------------------------------------------------------------------- */
.container {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-left: 2rem;
  margin-right: 2rem;
  gap: 1rem;
}

/* -------------------------------------------------------------------------- */
.imageContainer {
  background-color: greenyellow;
  width:  100%;
  height: 100%;
}

.imageContainer img {
  width:  100%;
  height: 100%;
  /* aspect-ratio: 1/1; */
  object-fit:contain;
}

/* -------------------------------------------------------------------------- */
.infoContainer {
  /* background-color: goldenrod; */
  width: 20rem;

  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* -------------------------------------------------------------------------- */
.itemInfoContainer {
  display: flex;
  /* background-color: chartreuse; */
  justify-content: space-between;
  align-items: center;
}

.moodboardInfoUserContainer div{
  display: flex;
  flex-direction: column;

  /* background-color: green; */
}

/* -------------------------------------------------------------------------- */
.itemInfoContainer {
  display: flex;

  flex-direction: column;
  align-items: stretch;

  text-align: center;
  /* background-color: red; */
}

.itemInfoTitle {
  /* background-color: blue; */
  font-size: 2rem;
}

.itemInfoDescription {

}


/* -------------------------------------------------------------------------- */
.otherContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statsContainer {
  display: flex;
  align-items: flex-start;

  gap: 0.5rem;
}

.statsButton {
  background: red;
  border: none;
}

.statIcon {
  display: flex;
  flex-direction: column;
  text-align: center;
}