/*----------------------------------------------------------------------------*/
/*                               *       +                                    */
/*                         '                  |                               */
/*                     ()    .-.,="``"=.    - o -                             */
/*                           '=/_       \     |                               */
/*                        *   |  '=._    |                                    */
/*                             \     `=./`,        '                          */
/*                          .   '=.__.=' `='      *                           */
/*                 +                         +                                */
/*                      O      *        '       .                             */
/*                                                                            */
/*  File      : MoodboardComments.module.css                                  */
/*  Project   : divas-client                                                  */
/*  Date      : 2024-04-30                                                    */
/*  License   : See project's COPYING.TXT for full info.                      */
/*  Author    : mateus.digital <hello@mateus.digital>                         */
/*  Copyright : mateus.digital - 2024                                         */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*----------------------------------------------------------------------------*/

.contentContainer {
  /* background-color: crimson; */
  width: 100%;
  /* width: 20rem; */
  display: grid;
  grid-template-rows: auto min-content;
}

.commentsContainer {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 100%;
  height: 20rem;

  overflow-y: scroll;
}


.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}