.container {
  /* background-color: yellow; */
  display: flex;
  width: 100%;
  gap: 0.7rem;
}

  /* flex-direction: column; */

.userContainer {
  /* background-color: green; */
  display: flex;
  gap: 0.3rem;
}
.userName {
  font-weight: bold;
}

.profileImage img {
  width:  2.5rem;
  height: 2.5rem;
}


.commentContainer {
  /* background-color: pink; */
  overflow: hidden;

  word-wrap: break-word; /* Allows long words to be broken and wrapped */
  overflow-wrap: break-word; /* Modern equivalent */
  white-space: normal;
}

.commentContent {
  font-size: 80%;
}