/*----------------------------------------------------------------------------*/
/*                               *       +                                    */
/*                         '                  |                               */
/*                     ()    .-.,="``"=.    - o -                             */
/*                           '=/_       \     |                               */
/*                        *   |  '=._    |                                    */
/*                             \     `=./`,        '                          */
/*                          .   '=.__.=' `='      *                           */
/*                 +                         +                                */
/*                      O      *        '       .                             */
/*                                                                            */
/*  File      : MoodboardEditor.module.css                                    */
/*  Project   : divas-client                                                  */
/*  Date      : 2024-05-14                                                    */
/*  License   : See project's COPYING.TXT for full info.                      */
/*  Author    : mateus.digital <hello@mateus.digital>                         */
/*  Copyright : mateus.digital - 2024                                         */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*----------------------------------------------------------------------------*/

/*
*  Main
*/

/* -------------------------------------------------------------------------- */
.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

/*
*  Top Bar
*/

/* -------------------------------------------------------------------------- */

.topBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  min-height: 60px;
  max-height: 60px;

  padding: 2rem 1.5rem;

  border: var(--layout-border-color) var(--layout-border-size) var(--layout-border-style);
}

.photoContainer {
  max-width: 2.5rem;
  height: fit-content;

  border-radius: 50%;
  border: var(--button-secondary-color) 3px solid;
}

/*
*  Editor
*/

/* -------------------------------------------------------------------------- */
.editorContainer {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.editorContentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.editorContentContainer > div {
  border: var(--layout-border-color) var(--layout-border-size) var(--layout-border-style);
}

/*
*  Controls
*/

/* -------------------------------------------------------------------------- */
.controlsContainer {
  /* background-color: red; */
  width: min(30%, 400px);
  overflow-y: scroll;
}

.controlsContentContainer {
  /* background-color: cadetblue; */
  padding: 1.5rem;
  width: 100%;
}