/*----------------------------------------------------------------------------*/
/*                               *       +                                    */
/*                         '                  |                               */
/*                     ()    .-.,="``"=.    - o -                             */
/*                           '=/_       \     |                               */
/*                        *   |  '=._    |                                    */
/*                             \     `=./`,        '                          */
/*                          .   '=.__.=' `='      *                           */
/*                 +                         +                                */
/*                      O      *        '       .                             */
/*                                                                            */
/*  File      : MoodboardEditor.module.css                                    */
/*  Project   : divas-client                                                  */
/*  Date      : 2024-05-14                                                    */
/*  License   : See project's COPYING.TXT for full info.                      */
/*  Author    : mateus.digital <hello@mateus.digital>                         */
/*  Copyright : mateus.digital - 2024                                         */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*----------------------------------------------------------------------------*/
.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}


.topBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.photoContainer {
  max-width: 2rem;
}

.editorContainer {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.controlsContainer {
  /* background-color: cadetblue; */
  width: 30%;
}