/*~---------------------------------------------------------------------------*/
/*                               *       +                                    */
/*                         '                  |                               */
/*                     ()    .-.,="``"=.    - o -                             */
/*                           '=/_       \     |                               */
/*                        *   |  '=._    |                                    */
/*                             \     `=./`,        '                          */
/*                          .   '=.__.=' `='      *                           */
/*                 +                         +                                */
/*                      O      *        '       .                             */
/*                                                                            */
/*  File      : CategoriesBar.module.css                                      */
/*  Project   : divas-client                                                  */
/*  Date      : 2024-04-01                                                    */
/*  License   : See project's COPYING.TXT for full info.                      */
/*  Author    : mateus.digital <hello@mateus.digital>                         */
/*  Copyright : mateus.digital - 2024                                         */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*---------------------------------------------------------------------------~*/


/* -------------------------------------------------------------------------- */
.categoriesBarItemsContainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 5rem;

  /* background-color: red; */
}

/* -------------------------------------------------------------------------- */
.categoriesBarItemContainer {

}

/* -------------------------------------------------------------------------- */
.categoriesBarItemTitle {
  display: block;

  padding: 1rem;

  font-weight: lighter;
  font-size: 1.5rem;

  color: #6E6E6E;
  cursor: pointer;
  /* background-color: blue; */
}

.selectedCategory {
  color: #fa7b90 !important;
  font-weight: normal;
  /* background-color: blue; */
}

.unselectedCategory {
}