/*~---------------------------------------------------------------------------*/
/*                               *       +                                    */
/*                         '                  |                               */
/*                     ()    .-.,="``"=.    - o -                             */
/*                           '=/_       \     |                               */
/*                        *   |  '=._    |                                    */
/*                             \     `=./`,        '                          */
/*                          .   '=.__.=' `='      *                           */
/*                 +                         +                                */
/*                      O      *        '       .                             */
/*                                                                            */
/*  File      : DesignsGrid.module.css                                        */
/*  Project   : divas-client                                                  */
/*  Date      : 2024-04-01                                                    */
/*  License   : See project's COPYING.TXT for full info.                      */
/*  Author    : mateus.digital <hello@mateus.digital>                         */
/*  Copyright : mateus.digital - 2024                                         */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*---------------------------------------------------------------------------~*/

/*----------------------------------------------------------------------------*/
.moodboardGridContainer {
  display: flex;
  justify-content: center;
}

/*----------------------------------------------------------------------------*/
.moodboardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}